<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qhit.parking.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.qhit.parking.entity.Admin">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="createDate" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qhit.parking.entity.Admin">
    insert into admin (id, name, password, 
      createDate, status)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qhit.parking.entity.Admin">
    update admin
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},

      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, password, createDate, status
    from admin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, password, createDate, status
    from admin
  </select>

  <select id="Login" resultMap="BaseResultMap">
    select id, name, password, createDate, status
    from admin WHERE  name=#{name} and password=#{password}

  </select>

  <select id="adminName" resultMap="BaseResultMap">
  select
  id, name, password, createDate, status
  from admin
  <where>
    <if test="name !=null and name !=''">
      name like concat ('%',#{name},'%')
    </if>
  </where>
  </select>
<update id="updateStart" parameterType="com.qhit.parking.entity.Admin">
  update admin
    set status=0 where id=#{id}
</update>
  <update id="updateStop" parameterType="com.qhit.parking.entity.Admin">
    update admin
    set status=1 where id=#{id}
  </update>

  <update id="updatePwd"  parameterType="com.qhit.parking.entity.Admin">
     update admin
     set password=#{password} where id=#{id}
  </update>
<select id="rediosLogin" resultMap="BaseResultMap">
 select id, name, password, createDate, status
    from admin WHERE  name=#{name} and password=#{password}
</select>

</mapper>