<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>柱状图</title>

    <style>
        #main{
            display: inline-block;
            width: 600px;
            height: 300px;
            margin:30px;padding: 20px;
        }
    </style>
    <script th:src="@{/js/jquery-2.2.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/echarts.common.min.js}"></script>
    <script>

        $(function () {
            $.get("/park/echarts-list",function(data){
                var myChart = echarts.init(document.getElementById('main'));
                var arr1=[];
                var arr2=[];
                var arr3=[];
                var arr4=[];
                $(data).each(function () {
                    console.log(data);
                    arr1.push(this.name);
                    arr2.push(this.orders.sumpark);
                    arr3.push(this.orders.total);
                    arr4.push(this.price);
                });
                    console.log(data);
                    console.log(arr2);
                    console.log(arr1);
                    var option={
                        title:{text:'车辆统计'},
                        tooltip:{trigger:'axis'},
                        legend:{data:['停车总时长','停车总费用','停车总次数']},
                        toolbox: {
                            show : true,
                            feature : {
                                mark : {show: true},
                                dataView : {show: true, readOnly: false},
                                magicType : {show: true, type: ['line', 'bar']},
                                restore : {show: true},
                                saveAsImage : {show: true}
                            }
                        },
                        xAxis:{data:arr1},
                        yAxis:{},
                        series:[{
                            name:'停车总费用',
                            type:'bar',//bar柱状图  line折线图   pie饼状图
                            data:arr4
                        },{
                            name:'停车总时长',
                            type:'bar',
                            data:arr3
                        }, {
                            name: '停车总次数',
                            type: 'bar',
                            data: arr2
                        }
                        ]
                    }
                myChart.setOption(option);
            },'json')
        })
    </script>

</head>
<body>
    <div id="main"></div>
</body>

</html>